.ccn-border {
  width: 100%;
  border: 2px solid #000;
  padding: 0 10px 10px;
}
.ccn-page-wrap .ccn-message-option  > p,
.ccn-page-wrap .ccn-message-option  > label {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.ccn-message-option input[type="checkbox"] {
  margin: 2px .25rem 0 0;
}
.ccn-border__label {
  display: inline-block;
  position: relative;
  top: -12px;
  left: -5px;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 0 5px;
  margin: 0;
  border-radius: 5px;
  margin: 0;
}

.ccn-buttons {
  width: 100%;
  text-align: right;
  margin-top: 30px;
}

@media (max-width: 576px) {
  .ccn-buttons {
    text-align: center;
    margin-top: 0;
  }
}

.ccn-button {
  display: inline-block;
  font-size: 16px;
  border: 2px solid #000;
  padding: 2px 10px;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.ccn-page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 22px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  font-size: 16px;
  color: #000;
}

@media (max-width: 576px) {
  .ccn-page-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 12px;
  }
}

.ccn-page-header__left {
  width: calc(100% - 230px);
}

@media (max-width: 576px) {
  .ccn-page-header__left {
    width: 100%;
  }
}

.ccn-page-header__right {
  width: 180px;
}

@media (max-width: 576px) {
  .ccn-page-header__right {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 20px;
  }
}

.ccn-page-tabs {
  border: 2px solid #000;
  padding: 0 10px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

@media (max-width: 576px) {
  .ccn-page-tabs {
    overflow: auto;
  }
}

.ccn-page-tabs a {
  display: block;
  padding: 10px;
  color: #000;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  margin: -2px 0;
  white-space: nowrap;
}

.ccn-page-tabs a:hover {
  color: #0073aa;
}

.ccn-page-tabs a.active {
  background-color: #99baef;
  color: #000 !important;
}

.ccn-notification {
  padding: 0 40px 30px 15px;
  position: relative;
  margin-bottom: 30px;
  width: auto;
  background-color: #f1f1f1;
}

.ccn-notification__close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 2px 6px 4px;
  border-radius: 5px;
  background-color: #000;
  color: #fff !important;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
}

.ccn-notification__close:hover {
  background-color: #e93b3b;
}

.ccn-notification__label {
  background-color: #f1f1f1;
  text-transform: uppercase;
}

.ccn-notification__title {
  color: #e93b3b;
  margin-top: 10px;
  margin-bottom: 20px;
}

.ccn-notification__text {
  font-size: 16px;
  line-height: 22px;
}

.ccn-version {
  text-align: center;
  padding: 5px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #000;
  background-color: #ffe59a;
}

.ccn-version img {
  width: 80px;
  height: auto;
}

.ccn-version__title {
  font-size: 20px;
  visibility: 500px;
  width: 100%;
  text-align: center;
  margin: 0;
}

.ccn-page-buttons {
  border: 2px solid #000;
  padding: 0 10px;
  margin-bottom: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

@media (max-width: 576px) {
  .ccn-page-buttons {
    width: auto;
    margin-right: 12px;
    overflow: auto;
    margin-bottom: 0;
  }
}

.ccn-page-buttons a {
  display: block;
  padding: 10px;
  color: #000;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  margin: -2px 0;
  white-space: nowrap;
}

.ccn-page-buttons a:hover {
  color: #0073aa;
}

.ccn-page-buttons a.active {
  background-color: #99baef;
  color: #000 !important;
}

.ccn-page-buttons ~ #wpbody {
  margin-bottom: 100px;
}

.ccn-page-wrap {
  padding: 0 10px;
}

.ccn-message-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0;
}
.ccn-message-option.hidden-class {
  display: none;
}
@media (max-width: 576px) {
  .ccn-message-option {
    display: block;
  }
}

.ccn-message-option__title {
  width: 220px;
  margin-right: 30px;
  padding: 5px 0;
  font-weight: 700;
}

@media (max-width: 992px) {
  .ccn-message-option__title {
    width: 170px;
  }
}

@media (max-width: 576px) {
  .ccn-message-option__title {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    padding: 0;
  }
}

.ccn-message-option__title p {
  margin: 0;
}
.ccn-message-option__title p.message-type-notice {
  font-weight: 400;
}
.ccn-message-option__content {
  width: calc(100% - 250px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .ccn-message-option__content {
    width: calc(100% - 200px);
  }
}

@media (max-width: 576px) {
  .ccn-message-option__content {
    width: 100%;
    display: block;
  }
}

.ccn-message-option input[type="text"],
.ccn-message-option input[type="number"],
.ccn-message-option select {
  width: 100%;
}

.ccn-message-option label {
  display: block;
  white-space: nowrap;
  margin-bottom: 5px;
}

.ccn-message-option input[type="text"] ~ select {
  width: 100px;
  margin-left: 10px;
}

@media (max-width: 576px) {
  .ccn-message-option input[type="text"] ~ select {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }
}

.ccn-message-option input[type="text"] ~ label {
  margin-left: 10px;
}

@media (max-width: 576px) {
  .ccn-message-option input[type="text"] ~ label {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}

.ccn-message-option .ccn-border {
  margin: 10px 0;
}

.activate-group {
  position: relative;
}

input.activate-switch {
  display: block;
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 48px;
  height: 27px;
  background-color: #e6e6e6;
  border: 1px solid #D9DADC !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 50px;
  outline: none !important;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  margin-top: 15px;
}

input.activate-switch:before {
  display: none !important;
}

input.activate-switch:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  background: transparent;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition: left .25s ease;
  transition: left .25s ease;
}

input.activate-switch:checked {
  background-color: #4ed164;
  border-color: #4ed164 !important;
}

input.activate-switch:checked:after {
  left: 21px;
  -webkit-box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
          box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

.activate-tip {
  width: 150px;
  border-radius: 50px;
  position: absolute;
  left: 60px;
  top: -15px;
  border: 2px solid #7e8993;
  font-weight: 500;
  text-align: center;
  padding: 5px 0;
}

.activate-tip:before {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 10px;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-top-color: #7e8993;
  border-bottom: 0;
  border-left: 0;
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
}

.activate-tip:after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 13px;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-top-color: #fff;
  border-bottom: 0;
  border-left: 0;
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
}

.activate-tip span:last-child {
  display: none;
}

.activate-switch:checked ~ .activate-tip span:first-child {
  display: none;
}

.activate-switch:checked ~ .activate-tip span:last-child {
  display: inline;
}

.ccn-message-opacity-block {
  position: relative;
}

.ccn-message-opacity-block .pro-overlay {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.ccn-message-preview {
  position: fixed;
  z-index: 100;
  left: 181px;
  bottom: 10px;
  width: calc(100% - 224px);
  background-color: #fff;
  color: #000;
}

@media (max-width: 960px) {
  .ccn-message-preview {
    left: 59px;
    width: calc(100% - 102px);
  }
}

@media (max-width: 782px) {
  .ccn-message-preview {
    left: 10px;
    width: calc(100% - 47px);
  }
}

.ccn-message-preview__label {
  text-transform: uppercase;
}

.ccn-message-preview__content {
  border: 2px solid #0073aa;
  position: relative;
  padding: 15px 10px;
  padding-right: 160px;
}

@media (max-width: 576px) {
  .ccn-message-preview__content {
    padding-right: 10px;
  }
}

#poststuff h1.ccn-message-preview__title,
#poststuff h2.ccn-message-preview__title,
#poststuff h3.ccn-message-preview__title,
#poststuff h4.ccn-message-preview__title,
#poststuff h5.ccn-message-preview__title,
#poststuff h6.ccn-message-preview__title  {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: 600;
}

@media (max-width: 576px) {
#poststuff h1.ccn-message-preview__title,
#poststuff h2.ccn-message-preview__title,
#poststuff h3.ccn-message-preview__title,
#poststuff h4.ccn-message-preview__title,
#poststuff h5.ccn-message-preview__title,
#poststuff h6.ccn-message-preview__title {
    font-size: 14px;
  }
}

.ccn-message-preview__text p,
.ccn-message-preview__text {
  font-size: 22px;
  margin: 0;
  font-weight: 500;
}

@media (max-width: 576px) {
  .ccn-message-preview__text p {
    font-size: 18px;
  }
}

.ccn-message-preview__button {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #0073aa;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding: 2px 10px 4px;
  border-radius: 3px;
  transition: all 0.3s;
}

@media (max-width: 576px) {
  .ccn-message-preview__button {
    position: relative;
    right: auto;
    top: 0;
    -webkit-transform: none;
            transform: none;
    margin-top: 10px;
    font-size: 18px;
  }
}

.layout-options {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 576px) {
  .layout-options {
    margin-top: 0;
  }
}

.layout-options__footer {
  width: 100%;
  text-align: right;
  margin-top: 25px;
  margin-bottom: 5px;
}

@media (max-width: 576px) {
  .layout-options__footer {
    text-align: center;
    margin-top: 15px;
  }
  .layout-options__footer .ccn-button {
    width: 170px;
  }
  .layout-options__footer .ccn-button:first-child {
    margin-bottom: 10px;
  }
}

.layout-option {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .layout-option {
    width: 100%;
  }
}

.layout-option__title {
  font-size: 16px;
  width: 180px;
  margin-right: 10px;
}

@media (max-width: 576px) {
  .layout-option__title {
    width: 100%;
  }
}

.layout-option__color {
  display: none;
}

.sp-button-container {
  display: none;
}

.sp-container,
.sp-replacer {
  border-color: #000 !important;
}

.sp-replacer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.wp-editor-wrap {
  width: 100%;
}

.message-dates {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.message-dates-headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
}

.message-dates-header {
  font-size: 16px;
  padding: 2px 5px;
  color: #000;
  background-color: #f1f1f1;
  border: 1px solid #000;
  border-radius: 3px 3px 0 0;
  border-bottom-color: transparent;
  text-decoration: none;
  margin-right: 5px;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.message-dates-header.active {
  z-index: 1;
  background-color: #fff;
}

.message-date {
  position: relative;
  margin-top: -1px;
  padding: 10px;
  border: 1px solid #000;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.message-date.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message-date input {
  margin: 0 10px;
}

.ccn-select-inline {
  width: auto !important;
  margin: 0 10px !important;
}

.hide-show-message-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.hide-show-message-row:first-child {
  margin-bottom: 20px;
}

.hide-show-message-row p {
  margin: 0;
}

.hide-show-message-row select, .hide-show-message-row input[type="text"] {
  width: auto;
  margin-right: 10px;
}

@media (max-width: 576px) {
  .hide-show-message-row select, .hide-show-message-row input[type="text"] {
    width: 100%;
    margin: 5px 0;
  }
}

#screen-meta-links {
  display: none;
}
.wrap h1.wp-heading-inline {
  display: none;
}
.page-title-action {
  display: none;
}

.upgrade {
    max-width: 750px;
    position: relative;
    margin-right: 12px;
}

.upgrade-title {
    margin-bottom: 30px;
    line-height: 32px;
}

.upgrade-text {
    font-size: 18px;
    line-height: 24px;
}

.upgrade-list li {
    margin-top: 30px;
}

.upgrade-list li {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.upgrade-list li svg {
    margin-right: 15px;
}

.upgrade-btn {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    right: 0;
    bottom: -10px;
    font-size: 32px;
    line-height: 110%;
    font-weight: bold;
    border: 2px solid #000;
    color: #000;
    padding: 10px 25px;
    border-radius: 10px;
}

.upgrade-btn:hover {
    color: #0073aa;
    white-space: nowrap;
}

@media (max-width: 576px) {
    .upgrade-btn {
        position: relative;
        bottom: 0;
        margin-top: 30px;
        font-size: 24px;
    }
}